@charset "utf-8";

/*
*************** 產品圖片更換提示 **************

-----------------------------------------------
0. index
-----------------------------------------------
    pc     - ind_prod_1.png   ~ ind_prod_3.png
    mobile - m_ind_prod_1.png ~ m_ind_prod_3.png


-----------------------------------------------
1. slide navigation bar 
-----------------------------------------------
    pc     - show_nav_1.png   ~ show_nav_3.png
    mobile - m_show_nav_1.png ~ m_show_nav_3.png


-----------------------------------------------
2. prod_ t100ha / chi / flip
-----------------------------------------------
    pc     - prod_1.png   ~ prod_3.png
    mobile - m_prod_1.png ~ m_prod_3.png

    介紹icon / 兩版裝置共用
    prod_icon_1_1.png ~ prod_icon_1_4.png
    prod_icon_2_1.png ~ prod_icon_2_4.png
    prod_icon_3_1.png ~ prod_icon_3_4.png


-----------------------------------------------
3. overview & help me choose
-----------------------------------------------
    pc & mobile    -  prod_detachable_*****.png
                      prod_flip_*****.png


※ icon共用
   helpme_icon_1.png ~ helpme_icon_7.png


※intel 徽章 (PC mobile共用，部分例外列在下方)
  1. prod_intel_1.png
  2. prod_intel_2.png

※例外
  pc     - index / ind_intel.png , ind_intel_txt.png
  mobile - index / m_intel.png


===============================================     
===============================================



/* css base
    
    #.reset
    #.body,html
    #.共用
    1.nav
    2.content base

--------------------------------------------------------------------------------------*/

.ani_box{ position: relative; }




/* #reset
--------------------------------------------------------------------------------------*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}


/*MENU*/
.new_menu {
display: inline-block; background-color: #39F; padding: 0.2rem 0.3rem; color: #FFF; font-size: 0.42rem; position:absolute; top: 0.83rem; right:3rem;
}
.new_nav {
display: none; font-size: 0.42rem; text-align:center;
}
.new_nav li{
list-style: none; background: #b7b7b7;
}
.new_nav li a {
display: block; color: #FFF; text-decoration: none; padding: 10px 15px;
}
.new_nav li:hover {
background: #39F;
}
/*MENU*/


/* #body,html
--------------------------------------------------------------------------------------*/

html,
body {
    width: 100%;
    max-width: 768px;
    min-width: 320px;
    font-family:'Open Sans','myriadproregular','Myriad Pro' ,'Helvetica','Arial',"微軟正黑體";
    -webkit-text-size-adjust: 100%;
    font-size: 48px;
    font-weight: 300;
    background-color: #000;
    margin: 0 auto;
}


#wrapper{
    max-width: 768px;
    min-width: 320px;
    background-color: #fff;
}

.ani_specs{ background-color: #ffffff; }

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}

.swipe-wrap {
  overflow: hidden;
  position: relative;
}

.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}


/* #.共用
--------------------------------------------------------------------------------------*/

.clear:after{
    content: '';
    height: 0;
    display: table;
    clear: both; 
}


.hide { display: none; }

.seo{
    display: none;
    font-size: 0;
    text-indent: -5000px;
}

.heightlight{ font-weight: bold; }

img {
    width: 100%;
    height: auto;
}

a{ display: block; }


.inner{
    width: 13.95833333333333rem;    
    height: auto;
    margin: 0 auto;
}

.ind_bg{
    background: #b7b7b7 url(../images/m_ind_bg.jpg) no-repeat center top;
    -webkit-background-size: cover;
    background-size: cover;
}

.title_logo{
    display: inline;
    width: 1.8rem;
}

.prod_berif .title_logo,
.prod_info .title_logo{
    width: 1.5rem;
}

.prod_logo{
    display: inline;
    width: 1.25rem;   
}


.paddingContent{ padding: 1.354166666666667rem 0; }





/* 1.nav
--------------------------------------------------------------------------------------*/
#navi{
    position: relative;
    z-index: 500;
}

.navi_box{
    width: 100%;
    height: 2.291rem;
    background-color: #363636;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.navi_box .inner{
    height: 0.83rem;
    padding-top: 0.83rem;
    padding-bottom: 0.625rem;
}

.logo{
    float: left;
    width: 3.72rem;
    height: auto;
}

.burger_nav{
    width: 1.52rem;
    float: right;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.burger_nav div{
    width: 100%;
    height: 0.14rem;
    background-color: #ffffff;
    margin-bottom: 0.145rem;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

#navi.open_show +#wrapper{
    position: fixed;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    transform:translateX(-50%);
    overflow: hidden;
}

#navi.open_show .burger_nav .line_2{ opacity: 0; }
#navi.open_show .burger_nav{
    -webkit-transform: translateX(.4rem);
    -moz-transform: translateX(.4rem);
    transform: translateX(.4rem);
}
#navi.open_show .burger_nav .line_1{ 
    -webkit-transform: rotate(-45deg) translateX(-.4rem);
    -moz-transform: rotate(-45deg) translateX(-.4rem);
    transform: rotate(-45deg) translateX(-.4rem);
}

#navi.open_show .burger_nav .line_3{ 
    -webkit-transform: rotate(45deg) translateX(-.4rem);
    -moz-transform: rotate(45deg) translateX(-.4rem);
    transform: rotate(45deg) translateX(-.4rem);
}


/* sub menu */

.show_nav_box{
    position: absolute;
    top: 2.291rem;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color: rgba(54,54,54,0.98);
}

.show_nav_box .navi{ 
    padding: 0.2083333333333333rem 0; 
    border-top:1px solid #757575;
    list-style: none;
}


.show_nav_box .prod_photo{
    float: right;
    width: 3.54rem;
    height: auto;
    margin-top: -.33rem;
}

.show_nav_box a ,.show_nav_box .prod_name{
    position: relative;
    color: #ffffff;
    font-size: 75%;
    line-height: 1.5;
}

.show_nav_box .prod_name{
    margin-bottom: 0.33rem;
    margin-top: 0.33rem;
}

.show_nav_box .heightlight{ padding-right: .3rem; }

.show_nav_box a{
    display: block;
    text-decoration: none; 
}

.navi_4 .prod_name,
.navi_5 .prod_name,
.navi_6 .prod_name,
.navi_7 .prod_name{
    line-height: 2.8rem;
    margin-bottom: 0;
}

.show_nav_btn{
    display: inline-block;
    padding: 0.625rem 0.79rem;
    font-size: 54%;
    line-height: 1;
    border-radius: 0.83rem;
}

.show_nav_btn a{
    color: inherit;
    text-decoration: none;
}

.show_color_1{ background-color: #00a9ff; }
.show_color_2{ background-color: #00cebc; }
.show_color_3{ background-color: #dcc96d; }


.intel span{
    display: block;
}

.intel .logo_img{
    width: 1.666666666666667rem;
}

.intel{
    position: absolute;
    bottom: 0.4rem;
    right: 0.5rem;
    text-align: right;
    line-height: 1.2;
}


/* 首頁個別設定 */
.ind_intel{ font-size: 40%; }

/* 內頁上方個別設定 */
.page_intel{ font-size: 40%; }
.page_intel .intel_txt{ padding-right: 1.5rem; }

.page_intel .logo_img{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 1.2rem;
}

/* 20151015 新增法務說明 */
.law {
	position: absolute;
    right: 0.5rem;
	bottom:0.1rem;
	width:100%;
	text-align:right;
    color: #999;
    font-size: 20%;
	font-weight:bold;
	}
.law a {
	display:inline-block;
	color: #999;
	text-decoration:none;
	}

/* 產品說明個別設定 */
.prod_intel{
    position: relative;
    bottom: auto;
    left: auto;
    right: auto;
    top: auto;
    text-align: left;
    font-size: 37.5%;
    margin-bottom: .5rem;
}

.prod_intel:after{
    display: table;
    content: '';
    clear: both;
}

.prod_intel .logo_img+.intel_txt{
    padding-left: 2rem;
}

.prod_intel .logo_img{
    float: left;
    width: 1.2rem;
}

.results .logo_img{
    position: relative;
    top: 0;
    bottom: auto;
}

.results .logo_img+.intel_txt{
    float: left;
    width: 7rem;
    padding-left: .3rem;
}



/* 2.content base
--------------------------------------------------------------------------------------*/

.unit_title{
    color: #373737;
    font-size: 100%;
    line-height: 1.2;
}

.unit_txt{
    color: #373737;
    font-size: 54%;
    font-weight: 300;
    line-height: 1.2;
}

.bottom_footer{
    width: 100%;
    background-color: #363636;
    text-align: center;
    padding: 0.416rem 0;
}

.bottom_footer a{
    display: block;
    width: 100%;
    height: 100%;
}

.bottom_footer img{
    width: 1.875rem;
}







/* 3.index
--------------------------------------------------------------------------------------*/
.ind_prod_photo{ display: block; }

.ind_prod_box{
    text-align: center;
    font-weight: normal;
    margin-bottom: 0.41rem;
}

.ind_prod_box h2{ 
    font-size: 90%; 
    line-height: 1.2;
}

.ind_prod_box h3{
    font-size: 40%;
    line-height: 1.2;
    font-weight: 300;
}

.ind_btns{
    display: inline-block;
    margin-bottom: 2.64rem;
    border-radius: 5rem;
    overflow: hidden;
}

.ind_btns img{ display: block; }

.ind_slider{
    position: relative;
    width: 100%;
    height: 100%;
}

.row_inner{
    width: 13.95833333333333rem;
    height: 100%;
    margin: 0 auto;
}

.ind_prod{
    position: relative;
    height: 20.75rem;
    overflow: hidden;
    background-color: #b7b7b7;
}

.ind_slider .row{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    /*float: left;*/
    text-align: center;
}

.ind_prod_1{ width: 8.6666rem; }
.ind_prod_2{ width: 7.3125rem; }
.ind_prod_3{ width: 7.3125rem; }


/* bottom dot navigation */
.dot_nav{
    position: absolute;
    bottom: 2rem;
    left: 0;
    width: 100%;
    height: auto;
    text-align: center;
    z-index: 200;
}

.dot_nav .dot{
    display: inline-block;
    margin-right: 0.2rem;
    width: 0.54rem;
    height: 0.54rem;
    background-color: #cccccc;
    border-radius: 50%;
}

.dot_nav .dot.active{ background-color: #00a8ff; }



/* footer */
.ind_footer{
    width: 100%;
    background-color: #ebebeb;
    text-align: center;
    padding: 0.7rem 0;
}

.footer_title{
    color: #373737;
    font-size: 62.5%;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 0.66rem;
}

.btns{
    display: inline-block;
    text-align: center;
    color: #373737;
    overflow: hidden;
}


.btns img{ display: block; }

.btns.btns_s1{
    border-radius: 5rem;
}

.btns.btns_s2{
    border-radius: 5rem;
    background-color: #fff;
    border:1px solid #898989;
}

.btn_helpme_small{ width: 6.7rem; }

.btn_learn{ width: 5.62rem; }

.btn_buy{
    width: 5.22rem;
    background-color: #00a8ff;
}

.btn_spec{ width: 7rem; }





/* 4.product list
--------------------------------------------------------------------------------------*/
.prod_kv{
    position: relative;
    width: 100%;
    height: 20.5rem;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}

.asus_prod_1{ background-image: url(../images/m_prod_kv_1.jpg); }
.asus_prod_2{ background-image: url(../images/m_prod_kv_2.jpg); }
.asus_prod_3{ background-image: url(../images/m_prod_kv_3.jpg); }

.prod_title_box{ padding: 1.5rem 0; }
.prod_title_box .title{
    color: #363636;
    font-size: 98%;
    font-weight: 300;
    line-height: .5;
}

.prod_title_box .txt{
    color: #363636;
    font-size: 40%;
    line-height: 1;
}


/* hello app button */
.helpme_app{ padding: 0 .80rem; }
.helpme_img{
    float: left;
    width: 5rem;
}

.helpme_txt{
    float: left;
    width: 7.3rem;
    padding-top: .9375rem;
    padding-bottom: .5rem;
}

.app_txt{
    color: #373737;
    font-size: 54.1%;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: .2rem;
}


/* prod_berif */
.prod_berif{
    width: 100%;
    height: auto;
    background-color: #ebebeb;
}


/* product list */
.prod_list{
    display: block;
    color: #363636;
}

.prod_list .row{
    padding: 1.5rem 0;
    border-bottom: 2px dotted #575757;
}

.prod_list .row:last-child{
    border-bottom: none;
}

.prod_list .row.last{
    border-bottom: none;
}

.prod_img{
    width: 4.4375rem;
    height: auto;
}

.prod_txt_box{ width: 7.104166666666667rem; height: auto}

.prod_left .prod_img,
.prod_right .prod_txt_box{ float: right; }

.prod_right .prod_img,
.prod_left .prod_txt_box{ float: left; }

.prod_title{
    color: #363636;
    font-size: 100%;
    font-weight: 300;
    line-height: 1.2;
}

.prod_txt{
    color: #363636;
    font-size: 54.1%;
    font-weight: 300;
    line-height: 1;
}



.prod_specs,.prod_info{
    width: 100%;
    height: auto;
}

.prod_info{ 
    padding: 1.291666666666667rem 0;
    background:url(../images/m_prod_bg.jpg) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}

.detail_inner{
    width: 12.29166666666667rem;
    height: auto;
    margin: 0 auto;
}

.prod_info_title{
    color: #373737;
    font-size: 100%;
    font-weight: 300;
    line-height: 1;
}

.prod_info_txt{
    color: #373737;
    font-size: 54.1%;
    line-height: 1;
}

/*.prod_detail_foto{
    width: 60%;
    margin: 0 auto;
}*/

.prod_detail{ font-size: 132%; }

.prod_detail .dot_list li:before{ top: .25rem; }
.prod_intel_icon{ width: 5.208333333333333rem; }
.prod_info  .prod_btns{ text-align: center;  }









/* specs */
.prod_specs{ padding: 1rem 0; }

.specs_list{
    padding-bottom: 0.83rem;
    color: #373737;
    font-size: 54.1%;
    line-height: 1.5;
}

.specs_list span{ display: block; }

.specs_list .col{ 
    display: table; 
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px dotted #e6e6e6;
}

.specs_list .row{ 
    display: table-cell; 
}

.specs_title{
    width: 30%;
    font-weight: bold;
}

.specs_txt{
    width: 70%;
    font-weight: 400;
}

.prod_specs .prod_btns{ text-align: center; }







/* 5.product overview
--------------------------------------------------------------------------------------*/
.overview_box{
    width: 100%;
    height: auto;
    background-color: #ebebeb;
}

.overview_title{
    color: #363636;
    font-size: 75%;
    font-weight: 300;
    line-height: 1.2;
}

.prod_detail_title{
    color: #363636;
    font-size: 54.1%;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 0.5rem;
}

.prod_detail_txt{
    display: block;
    color: #363636;
    line-height: 1.2;
    margin-bottom: 0.465rem;
}

.prod_detail_txt .dot_list{
    font-size: 100%;
    font-size: 37.5%;
}

.overview_prod .prod_detail_txt{
    font-size: 62.5%;
}

.overview_prod .prod_detail_title{
    font-size: 75%;
}

.overview_prod_list .prod_row{
    padding: 1.625rem 0.625rem;
    border-bottom: 1px dotted #363636;
}

.overview_prod_list .prod_row+.overview_prod_list .prod_row{
    margin-top: .5rem;
}

.overview_prod_list .prod_row:first-child{ padding-top: 0; }
.overview_prod_list .prod_detail_title span{ display: block; }
.overview_prod .prod_photo{ width: 10rem; }

.over_deta{ margin-bottom: .5rem; }
/*.over_deta .prod_photo{ margin-bottom: 0.5rem; }*/
.over_flip .prod_photo{ margin-top: -.5rem; }


.overview_box .overview_col:nth-last-child(1) .overview_prod_list:nth-last-child(1) .prod_row:nth-last-child(1){
    border-bottom: none;
}


/* dot list effect */

.dot_list{
    color: #363636;
    font-size: 54%;
    line-height: 1.2;
    margin-bottom: 1.25rem;
}

.dot_list li{
    position: relative;
    padding-left: 0.3rem;
    margin-bottom: 0.2rem;
}

.dot_list li:before{
    content: '';
    position: absolute;
    top: 0.3rem;
    left: 0;
    width: 0.1458333333333333rem;
    height: 0.1458333333333333rem;
    border-radius: 50%;
    background-color: #00a8ff;
}



/* 6.help me choose
--------------------------------------------------------------------------------------*/
.helpme_kv{
    width: 100%;
    height: 11.1875rem;
    background: url(../images/m_helpme_prod.jpg) no-repeat center top;
    -webkit-background-size: cover;
    background-size: cover;
}


.helpme_kv .title_box{ 
    padding: 1.45rem 0.3rem; 
    width: 10.9rem;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.qa_icon{
    position: absolute;
    top: 1.25rem;
    left: 0;
    width: 1.9375rem;
    height: 1.9375rem;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}

.qa_num_1 .qa_icon{ background-image: url(../images/helpme_icon_1.png); }
.qa_num_2 .qa_icon{ background-image: url(../images/helpme_icon_1.png); }
.qa_num_3 .qa_icon{ background-image: url(../images/helpme_icon_2.png); }
.qa_num_4 .qa_icon{ background-image: url(../images/helpme_icon_3.png); }
.qa_num_5 .qa_icon{ background-image: url(../images/helpme_icon_4.png); }
.qa_num_6 .qa_icon{ background-image: url(../images/helpme_icon_5.png); }
.qa_num_7 .qa_icon{ background-image: url(../images/helpme_icon_6.png); }
.qa_num_8 .qa_icon{ 
    top: 0;
    background-image: url(../images/helpme_icon_7.png); 
}


.qa_list .qa_row{
    position: relative;
    width: 100%;
    height: auto;
    padding: 1.25rem 0;
}

.qa_list .qa_row:not(:last-child){
    border-bottom: 1px dotted #3a3a3a;
}

.qa_list .qa_txt{ padding-left: 2.5rem; }
.qa_title{
    color: #00a8ff;
    font-size: 100%;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: .8rem;
}

.qa_small_title{
    color: #363636;
    font-size: 62.5%;
    line-height: 1.2;
    margin-bottom: .2rem;
}

.qa_selector{
    display: block;
    color: #373737;
    font-size: 54%;
    line-height: 1;
    margin-left: 1.8rem;
}

.qa_selector .option{ 
    position: relative;
    margin-bottom: 0.729rem; 
    min-height: 1.25rem;
    vertical-align: middle;
}


/* check box */
.helpme_qa input[type="checkbox"] { display:none; }

input[type="checkbox"] + label span {
    display: inline-block;
    width:1.25rem;
    height:1.25rem;
    margin-left: -1.75rem;
    margin-right: .5rem;
    vertical-align:middle;
    cursor:pointer;
    border:1px solid #000;
}

input[type="checkbox"]:checked + label span{
    background:url(../images/m_check.png) no-repeat center top;
    -webkit-background-size: cover;
    background-size: cover;
}


.helpme_results .results .detail_inner{
    width: 8.8rem;
}

.helpme_results .prod_info{
    background: none;
    padding-top: 0;
}

.helpme_results{
    padding-top: 1.291666666666667rem;
    background:url(../images/m_prod_bg.jpg) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}

.helpme_results_title span{ display: block; }
.helpme_results_title .inner{
    position: relative;
    padding-left: 2.479166666666667rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}






/* 7. hello Edward
--------------------------------------------------------------------------------------*/

/* hello app style */
.hello_app{
    position: relative;
}

.hello_app.app_small{ width: 9.75rem; }
.hello_app .applink{
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    /*background-color: red;
    opacity: .5;*/
}

.hello_app .applink:nth-child(1){ left: 0; }
.hello_app .applink:nth-child(2){ left: 36%; }
.hello_app .applink:nth-child(3){ left: 71%; }

.hello_app a{
    display: block;
    width:  100%;
    height: 100%;
}




/* #1 Hey birds! Put me on your shoulder.*/
.hello_box{
    width: 100%;
    height: auto;
    background: url(../images/m_hello_bg.jpg) no-repeat center top;
    -webkit-background-size: cover;
    background-size: cover;
}

.hello_box .box{  
    position: relative;
    padding: 1.5625rem 0; 
}


.hello_box .box:after{
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 5.35%;
    right: 5.35%;
    height: 1px;
    border-bottom: 1px dotted #7cc8ef; 
}

.hello_box .box:nth-last-child(2):after{
    display: none;
}

.hello_box span{ display: block; }
.hello_title{
    width: 8.3rem;
    color: #ffffff;
    font-size: 120%;
    font-weight: 300;
    line-height: 1;
    text-align: center;
    margin: 0 auto;
}


.hello_txt{
    color: #ffffff;
    font-size: 54.1%;
    line-height: 1.2;
    text-align: center;
}

.hello_txt+.hello_txt{
    margin-top: .5rem;
}

.hello_init_2{
    position: relative;
    width: 100%;
    height: auto;
}

.hello_kv_txt_box{
    position: absolute;
    top: 1.2rem;
    left: 50%;
    margin-left: -5rem;
    width: 10rem;
    z-index: 10;
}

.app_arrow:before{
    content: '';
    display: block;
    position: absolute;
    bottom: -0.7rem;
    right: 0;
    width: 0.2083333333333333rem;
    height: 0.6041666666666667rem;
    background:url(../images/m_hello_kv_2_arrow.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}

.hello_kv_txt_box span{
    position: relative;
    display: inline-block;
}

.hello_kv_title{
    color: #000;
    font-size: 54.1%;
    line-height: 1.2;
    margin-bottom: 0.1rem;
}

.hello_kv_txt{
    color: #000;
    font-size: 37.5%;
    line-height: 1.2;
    margin-bottom: 0.5rem;
}







/* #2 Download #helloedward now! */
.hello_unit_title{
    color: #ffffff;
    font-size: 100%;
    font-weight: 300;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 1.04rem;
}

.hello_unit_txt{
    display: table;
    width: 100%;
}

.hello_unit_txt .row{
    display: table-cell;
    width: 50%;
    vertical-align: middle;
    text-align: center;
    padding-left: 2%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.hello_unit_txt .row:not(:last-child){
    padding-left: 0;
    padding-right: 2%;

}

.hello_unit_txt .hello_unit_title{
    color: #ffffff;
    font-size: 54.1%;
    font-weight: 300;
    line-height: 1.2;
}



/* #3 Your face is the marker */
.face_icon{
    width: 1.875rem;
    margin: 0 auto;
}

.face_txt_box{ text-align: center; }

.face_title{
    color: #ffffff;
    font-size: 100%;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom:  .5rem;
}

.face_txt{
    color: #ffffff;
    font-size: 54.1%;
    line-height: 1.2;
}




/* hello footer */
.hello_footer{
    background-color: #ebebeb;
    padding: 0.9375rem 0.83rem;
}

.hello_footer .footer_txt_style{
    font-size: 54.1%;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
}

.hello_footer .hello_app{
    margin-top: .5rem;
    width: 100%;
}



/* media
--------------------------------------------------------------------------------------*/

@media screen and (max-width:640px){
    body,html{
        font-size: 40.8px;
    }
}

@media screen and (max-width:580px){
    body,html{
        font-size: 43.2px;
    }
}

@media screen and (max-width:480px){
    body,html{
        font-size: 30.72px;
    }
}

@media screen and (max-width:420px){
    body,html{
        font-size: 26.88px;
    }
}


@media screen and (max-width:375px){
    body,html{
        font-size: 24px;
    }
}

@media screen and (max-width:360px){
    body,html{
        font-size: 19px;
    }

    .hello_kv_txt_box{
        margin-left: -5.525rem;
        width: 11.5rem;
    }
}

@media screen and (max-width:320px){
     body,html{
        font-size: 20.448px;
    }

    .hello_kv_txt_box{
        margin-left: -5rem;
        width: 10rem;
    }
}