/*
$header-font:"myriad-pro","MHei HK Medium";
$subtitle-font:"myriad-pro","MHei HK Light";
$content-font:"myriad-pro","MHei HK Medium";
$func-font:"myriad-pro","MHei HK Medium";
$quote-font:"myriad-pro","MHei HK Medium";
*/
/* line 2, ../src/sass/page/_camera.scss */
.test { font-size: 14px; }
