@charset "utf-8";
/*通用項目*/
#pixelmaster {
  position: relative;
  left: 50%;
  overflow: hidden;
  padding-top: 30px;
}
#section { width:100%; height:100%; margin:0 auto;}
#section .wrap{ margin:0 auto;}
#section .wrap .content { max-width:1148px; margin:0 auto;}
#section .wrap .center { }
#section .wrap .left { float:left; }
#section .wrap .right { text-align:left; float:right; }


/*section_01*/
.section_01 { padding-top:5%;}
.section_01 .center { max-width:650px; margin:0 auto;}
.section_01 .kv { width:80%; max-width:900px; margin:0 auto; padding-top:4%;}

/*section_02*/
.section_02 { padding-top:5%;}
.section_02 .right { width:40%; padding-top:50px; margin-right:5%;}
.section_02 .left { width:50%; margin-left:5%;}
.section_02 .kv { width:85%; }

/*section_03*/
.section_03 .wrap { background-image:url(../imgs/lowlight_bg.png); background-position:center center; background-size:cover;}
.section_03 .center { max-width:650px; margin:0 auto;}
.section_03 .slogan, .section_03 .subT, .section_03 .subT_text, .section_03 .digit { color:#FFF;}
.section_03 .date { width:222px; margin:7% auto 0;}
.section_03 .kv { width:70%; max-width:800px; margin:0 auto; padding:2% 0 5%;}

/*section_04*/
.section_04 .center { max-width:650px; margin:0 auto;}
.section_04 .kv_bg { background-image:url(../imgs/HDR_bg.png); background-position:center center; background-size:cover; margin-top:3%;}
.section_04 .kv { width:70%; max-width:800px; margin:0 auto; padding:4% 0;}

/*section_05*/
.section_05 .center { max-width:800px;} 

/*section_06*/
.section_06 .kv { width:100%; padding-top:2%;}
.section_06 .center { max-width:800px;} 

/*section_07*/
.section_07 .kv { width:100%; padding-top:2%;}
.section_07 .center { max-width:800px;} 

/*section_08*/
.section_08 { padding-top:10%;}
.section_08 .right { width:37%; }
.section_08 .left { width:60%; }
.section_08 .kv { width:100%; margin-bottom:5%; }



@media screen and (max-width: 719px) {
	#section { width:100%; height:100%; margin:0 auto;}
	#section .wrap{ margin:0 auto;}
	#section .wrap .content { max-width:80%; margin:0 auto;}
	#section .wrap .center { }
	#section .wrap .left { float:none; }
	#section .wrap .right { text-align:center; float:none; }


	/*section_01*/
	.section_01 { padding-top:0%;}
	.section_01 .center { max-width:650px; margin:0 auto;}
	.section_01 .kv { width:80%; max-width:900px; margin:0 auto; padding-top:4%;}

	/*section_02*/
	.section_02 { padding-right:0;}
	.section_02 .right { width:100%; margin:0; padding-top:0px}
	.section_02 .date { width:411px; margin:7% auto 0;}
	.section_02 .left { width:100%; margin:0;}
	.section_02 .kv { width:85%; margin:0 auto; }

	/*section_03*/
	.section_03 .wrap { background-image:url(../imgs/lowlight_bg.png); background-position:center center; background-size:cover;}
	.section_03 .center { max-width:650px; margin:0 auto;}
	.section_03 .slogan, .section_03 .subT, .section_03 .subT_text, .section_03 .digit { color:#FFF;}
	.section_03 .date { width:222px; margin:7% auto 0;}
	.section_03 .kv { width:70%; max-width:800px; margin:0 auto; padding:2% 0 5%;}

	/*section_04*/
	.section_04 .center { max-width:650px; margin:0 auto;}
	.section_04 .kv_bg { background-image:url(../imgs/HDR_bg.png); background-position:center center; background-size:cover; margin-top:3%;}
	.section_04 .kv { width:70%; max-width:800px; margin:0 auto; padding:4% 0;}

	/*section_05*/
	.section_05 .center { max-width:800px;} 

	/*section_06*/
	.section_06 .kv { width:100%; padding-top:2%;}
	.section_06 .center { max-width:800px;} 

	/*section_07*/
	.section_07 .kv { width:100%; padding-top:2%;}
	.section_07 .center { max-width:800px;} 

	/*section_08*/
	.section_08 { padding-top:10%;}
	.section_08 .right { width:100%; }
	.section_08 .left { width:100%; padding-top:12%; }
	.section_08 .kv { width:100%; }
	
	
	
	
	
	}




