@charset "utf-8";
/* CSS Document */
body { max-width:1920px; overflow-x:hidden; font-family:"Segoe-LIGHT"; font-size:12px; }
section { width:100%; height:100%; margin:0 auto; }
section .article .wrapper .info h1 { text-indent:-9999px; width:331px; height:30px; margin:0 auto; background:url(../imgs/zenpad_logo.png) no-repeat; padding:3% 0; }


/*section_01*/
.section_01 { background-image:url(../imgs/zenpad_bg.jpg); background-position:center center; background-size:cover;  padding-top:7%; }
.section_01 .article .wrapper { margin:0 auto; }
.section_01 .article .wrapper .info { width:95%; max-width:900px; margin:0 auto; text-align:center; position:relative; }
.section_01 .article .wrapper .info .KV { margin:0 auto; padding:2% 0; }
.section_01 .article .wrapper .info a.video { color:#0088cb; font-size:1.5em; font-weight:bold; line-height:23px; display:inline-block; position:relative; }
.section_01 .article .wrapper .info a.video:after { content: ""; display: inline-block; width: 23px; height: 23px; background:url(../imgs/video.png) no-repeat; position:absolute; top:2px; left:100px; }


/*section_02*/
.section_02 { padding-top:7%; }
.section_02 .article .wrapper {  margin:0 auto; }
.section_02 .article .wrapper .info { width:95%; max-width:1080px; margin:0 auto; text-align:center; position:relative; }
.section_02 .article .wrapper .info .main { padding-bottom:4%; } 
.section_02 .article .wrapper .KV { width:80%; max-width:1200px; margin:0 auto; padding-bottom:4%; }
.section_02 .article .icon_data { padding-bottom:5%; }
.section_02 .article .icon_data ul { width:650px; margin:0 auto; }
.section_02 .article .icon_data li { float:left;  height:145px; border-left:#cccccc 1px solid; padding:0 25px; }
.section_02 .article .icon_data li:first-child { border-left:none; }


/*section_03*/
.section_03 { }
.section_03 .article {}
.section_03 .article .wrapper { width:100%; }
.section_03 .article .wrapper .part_01 { float:left; width:49.8%; height:453px; background-color:#f0f1f1;  position:relative; }
.section_03 .article .wrapper .part_01 ul { position:absolute; right:49%; top:5%; }
.section_03 .article .wrapper .part_01 img { position:absolute; right:10%; bottom:0; }

.section_03 .article .wrapper .part_02 { float:right; width:49.8%; height:453px; background-color:#f0f1f1; position:relative; }
.section_03 .article .wrapper .part_02 .digit { position:absolute; top:12%; left:28%; }
.section_03 .article .wrapper .part_02 img {position:absolute; left:0; bottom:0; }


/*section_04*/
.section_04 { padding-top:7%;}
.section_04 .article .wrapper {  margin:0 auto; }
.section_04 .article .wrapper .info { width:95%; max-width:1080px;  margin:0 auto; text-align:center; }
.section_04 .article .wrapper .info .subtitle { } 

.section_04 .article .wrapper .KV { max-width:1024px; margin:0 auto; }
.section_04 .article .wrapper .KV .contrast {  width:49.9%; text-align:center; border-right:#CCC 1px solid; float:left; }
.section_04 .article .wrapper .KV .contrast .digit { float:left; padding-top:15px; }
.section_04 .article .wrapper .KV .contrast .digit_unit { font-size:1em; }
.section_04 .article .wrapper .KV .contrast .contrast_bg{ width:60%; float:right; }

.section_04 .article .wrapper .KV .sharpness { width:49.9%; float:right; position:relative; }
.section_04 .article .wrapper .KV .sharpness .digit { width:100%; text-align:right; margin-bottom:70px; padding-top:15px; }
.section_04 .article .wrapper .KV .sharpness .digit .digit_blod {line-height:1.9em; }
.section_04 .article .wrapper .KV .sharpness .digit .digit_unit { font-size:0.2em; line-height:1.5em; }
.section_04 .article .wrapper .KV .sharpness .sharpness_bg{ width:100%; }

.section_04 .article .wrapper .info a.more { color:#0088cb; font-size:1.5em; line-height:23px; font-weight:bold; display:inline-block; position:relative; padding-bottom:8%; }
.section_04 .article .wrapper .info a.more:after { content: ">"; display: inline-block; position:absolute; left:90px; top:1px; }


/*section_05*/
.section_05 { padding-top:7%;}
.section_05 .article .wrapper { margin:0 auto; }
.section_05 .article .wrapper .info { width:95%; max-width:1080px;  margin:0 auto; text-align:center; }
.section_05 .article .wrapper .info .main { padding-bottom:5%; } 
.section_05 .article .wrapper .KV { width:80%; max-width:1200px; margin:0 auto; }


/*section_06*/
.section_06 { width:100%; padding:10% 0; }
.section_06 .article .wrapper { width:95%; max-width:1024px; margin:0 auto; }
.section_06 .article .wrapper .info { width:45%; text-align:left; float:right; padding:4% 0; }
.section_06 .article .wrapper .KV { width:55%; float:left; }


/*section_07*/
.section_07 { width:100%;  padding:7% 0 0 0; background-image:url(../imgs/black_bg.jpg); background-position:center center; background-size:cover; }
.section_07 .article .wrapper { margin:0 auto; }
.section_07 .article .wrapper .info { width:95%; max-width:1080px;  margin:0 auto; text-align:center; color:#FFF; }
.section_07 .article .wrapper .info .main { padding-bottom:5%; } 
.section_07 .article .wrapper .KV { width:80%; max-width:1000px; margin:0 auto; }


/*section_08*/
.section_08 { }
.section_08 .article .wrapper { width:95%; max-width:1024px; margin:0 auto; padding-top:80px; }
.section_08 .article .wrapper .info { width:45%; text-align:left; float:left; position:relative; padding:6% 0; }
.section_08 .article .wrapper .KV { float:right; width:50%; padding-bottom:10%; }


/*section_09*/
.section_09 { width:100%; height:750px; background-image:url(../imgs/gray_bg.jpg); background-position:center center; background-size:cover; }
.section_09 .article .wrapper { width:95%; max-width:1024px; margin:0 auto; }
.section_09 .article .wrapper .info { width:45%; text-align:left; float:right; position:relative; padding:18% 0; }
.section_09 .article .wrapper .KV { width:55%; float:left; padding-top:8%; }


@media all and (max-width:1024px) {
body { font-size:23px;}
/*section_01*/
.section_01 .article .wrapper .info a.video { color:#0088cb; font-size:1.5em; font-weight:bold; line-height:80px; display:inline-block; position:relative; }
.section_01 .article .wrapper .info a.video:after { display:none; }
/*section_02*/
.section_02 { padding-top:10%; }
.section_02 .article .wrapper {  margin:0 auto; }
.section_02 .article .wrapper .info { width:95%; max-width:1184px;  margin:0 auto; text-align:center; position:relative; }
.section_02 .article .wrapper .info .main { padding-bottom:5%; } 
.section_02 .article .wrapper .KV { width:100%; margin:0 auto; padding-bottom:5%; }
.section_02 .article .icon_data { padding-bottom:5%; }
.section_02 .article .icon_data ul { width:70%; margin:0 auto; }
.section_02 .article .icon_data li { float:none; height:auto;  border-left:none; border-top:1px #CCCCCC solid; padding:25px 25px; }
.section_02 .article .icon_data li:first-child { border-top:none; }

/*section_03*/
.section_03 { }
.section_03 .article {}
.section_03 .article .wrapper { width:100%; }
.section_03 .article .wrapper .part_01 { float:none; width:100%; height:453px; background-color:#f0f1f1; position:relative; border-bottom:#FFF 3px solid; }

.section_03 .article .wrapper .part_01 ul { position:absolute; right:59%; top:1%; text-align:left; }
.section_03 .article .wrapper .part_01 img { margin:0 auto; right:5%; }

.section_03 .article .wrapper .part_02 { float:none; width:100%; height:453px; background-color:#f0f1f1; position:relative; }
.section_03 .article .wrapper .part_02 .digit { position:absolute; right:10%; top:3%; text-align:center; }
.section_03 .article .wrapper .part_02 img { position:absolute; left:0; bottom:0; }

/*section_04*/
.section_04 { padding-top:10%;}
.section_04 .article .wrapper { margin:0 auto;}
.section_04 .article .wrapper .info { width:95%;  margin:0 auto; text-align:center;}
.section_04 .article .wrapper .info .subtitle { } 

.section_04 .article .wrapper .KV {  margin:0 auto; }
.section_04 .article .wrapper .KV .contrast {  width:100%; margin:0 auto; text-align:center; border-right:none; float:none; }
.section_04 .article .wrapper .KV .contrast .digit { float:none;}
.section_04 .article .wrapper .KV .contrast .digit_unit { font-size:1em;}
.section_04 .article .wrapper .KV .contrast .contrast_bg{ width:60%; float:none; margin:0 auto; padding-left:9%; padding-top:5%; }

.section_04 .article .wrapper .KV .sharpness { width:90%; margin:0 auto;  float:none; position:relative; }
.section_04 .article .wrapper .KV .sharpness .digit { width:100%; text-align:center; margin-bottom:30px; margin-top:50px; }
.section_04 .article .wrapper .KV .sharpness .digit .digit_blod {line-height:1.9em; font-size:0.2em;}
.section_04 .article .wrapper .KV .sharpness .digit .digit_unit { font-size:0.2em; line-height:1.5em;}
.section_04 .article .wrapper .KV .sharpness .sharpness_bg{ width:60%; margin:0 auto;}

.section_04 .article .wrapper .info a.more { color:#0088cb; font-size:1.5em; line-height:80px; font-weight:bold; display:inline-block; position:relative; padding-bottom:8%;}
.section_04 .article .wrapper .info a.more:after {  display: none; }

/*section_05_mobile*/
.section_05_mobile { padding-top:10%; display:block}
.section_05 { padding-top:10px; display:none;}
.section_05_mobile .article .wrapper { }
.section_05_mobile .article .wrapper .info { width:90%; color:#000; margin:0 auto; text-align:center; padding-top:0; padding-bottom:20px;  }

/*section_06*/
.section_06 { padding-top:10%;}
.section_06 .article .wrapper { width:95%; max-width:1024px; margin:0 auto; padding-top:0;}
.section_06 .article .wrapper .info { width:90%; margin:0 auto; text-align:center; float:none;  padding:0;  padding-bottom:20px;}
.section_06 .article .wrapper .KV { float:none; width:100%; margin:0 auto; padding-bottom:10%;} 

/*section_07*/
.section_07 { padding-top:10%;}
.section_07 .article .wrapper { width:95%; max-width:1024px; margin:0 auto; padding-top:0;}
.section_07 .article .wrapper .info { width:90%; margin:0 auto; text-align:center;padding-bottom:20px;}
.section_07 .article .wrapper .KV { float:none; width:100%; margin:0 auto; padding-bottom:10%;} 

/*section_08*/
.section_08 { padding-top:10%;}
.section_08 .article .wrapper { width:95%; max-width:1024px; margin:0 auto; padding-top:0;}
.section_08 .article .wrapper .info { width:90%; height:auto; margin:0 auto; text-align:center; float:none;  padding:0;  padding-bottom:20px;}
.section_08 .article .wrapper .KV { float:none; width:100%; margin:0 auto; padding-bottom:10%;} 

/*section_09*/
.section_09 { padding-top:10%;}
.section_09 .article .wrapper { width:95%; max-width:1024px; margin:0 auto; padding-top:0;}
.section_09 .article .wrapper .info { width:90%; height:auto; margin:0 auto; text-align:center; float:none;  padding:0;  padding-bottom:20px;}
.section_09 .article .wrapper .KV { float:none; width:100%; margin:0 auto; } 

