/*font-face==========================*/

/*slogan --> MyriadPro-SemiboldSemiCn*/
@font-face {
	font-family: "Segoe-UI";
	src: url('../fonts/segoeuil.eot');/*for IE*/
	src: 
	local("Segoe UI Light"),  
	local("segoeuil"),
	url('../fonts/segoeuil.eot?#iefix') format('embedded-opentype'),  
	url('../fonts/segoeuil.woff') format('woff'),  
	url('../fonts/segoeuil.ttf') format('truetype');
}
	
/*text --> MyriadPro-Light*/
@font-face {
	font-family: "Segoe-blod";
	src: url('../fonts/seguisb_1.eot');/*for IE*/
	src: 
	local("Segoe UI Semiblod"),  
	local("seguisb_1"),
	url('../fonts/seguisb_1.eot?#iefix') format('embedded-opentype'),  
	url('../fonts/seguisb_1.woff') format('woff'),  
	url('../fonts/seguisb_1.ttf') format('truetype'); 
}


/*font-setting==========================*/
.slogan {
	font-family:"Segoe UI Light",Segoe-UI ;
	font-size:48px;
	letter-spacing: 0.2px;
	/*word-spacing: 0.045em;*/
	color: #333333;

	
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.slogan_mobile {
	font-family:"Segoe UI Light",Segoe-UI ;
	font-size:2em;
	/*letter-spacing: -0.025em;*/
	/*word-spacing: 0.045em;*/
	color: #333333;

	
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.subT {
	font-family:"Segoe UI Light",Segoe-UI ;
	font-size: 34px;
	line-height:1;
	/*letter-spacing: -0.03em;*/
	/*word-spacing: 0.045em;*/
	color: #4b4b4b;
	padding:3% 0 0;
	/*margin: 0% auto 2%;*/
	
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
	
.subT_text{
	font-family:"Segoe UI Light",Segoe-UI ;
	font-size:20px;
	line-height:30px;
	/*letter-spacing: -0.03em;*/
	/*word-spacing: 0.045em;*/
	color: #333333;
	
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
	}
	
.subT_text_mobile {
	font-family:"Segoe UI Light",Segoe-UI ;
	font-size:1.3em;
	line-height:30px; 
	/*letter-spacing: -0.03em;*/
	/*word-spacing: 0.045em;*/
	color: #333333;
	
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
	}	
	
.subT_text_point {
	font-family:"Segoe UI Light",Segoe-UI ;
	font-size:20px;
	line-height:30px;
	/*letter-spacing: -0.03em;*/
	/*word-spacing: 0.045em;*/
	color: #999999;
	
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;	
	}
	
.subT_text_point_mobile {
	font-family:"Segoe UI Light",Segoe-UI ;
	font-size:1.3em;
	line-height:70px;
	/*letter-spacing: -0.03em;*/
	/*word-spacing: 0.045em;*/
	color: #999999;
	
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;	
	}			
.example_text{
	font-family:"Segoe UI Semibold", Segoe-blod;
	font-size:17px;
	line-height:35px;
	letter-spacing: 1.8px;
	/*word-spacing: 0.045em;*/
	color: #666666;
	text-align:center;
	font-weight:bold;
	
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
	}	
	
a.link { font-family:"Segoe UI Light",Segoe-UI ;color:#0088cb; font-size:20px; line-height:20px; letter-spacing:0.5px; display:inline-block; text-align:center; }	

/*文字外框_置左*/	
.box-word-left{
	margin-left:2%;
	}
/*文字外框_置中*/	
.box-word-cent{
	width:100%;
	margin:0 auto;
	text-align:center;
	}

/*內文置中*/
.txt-cent {
	max-width:560px;
	font-size: 1.1em;
	letter-spacing: 0.02em;
	word-spacing: 0.04em;
	color: #737373;
	margin: 1.1% auto 0;
	
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
	text-align:center;
}
.txt-cent p , .txt-left p{
	line-height: 1.5em;
}
.sec1SubT_cent {
	width: 100%;
	text-align: center;
}

/**/
.select , .select a{
	font-family: 'MyriadPro-Light';
	font-size: 1em;
	letter-spacing: 0.02em;
	word-spacing: 0.04em;
	color:#de6956;
	webkit-transition : color .25s ease-in ; 
	transition : color .25s ease-in ; 
	margin-top:.9%;

	}
	.select a:hover{
		color:#93665f;
		webkit-transition : color .75s ease-in-out; 
		transition : color .75s ease-in-out ; 

		}
		.select ::after {
			content:" >";
			font-size:.65em;
			vertical-align:bottom;
			margin-left:1em;
			}
			
			
.date { text-align:left; font-family:"Segoe UI Light",Segoe-UI ;}
.date ul {}
.date li { float:left; display:block; line-height:30px; }
.date li:first-child { margin-left:0;}
.digit { font-size: 65px; color: #888888;}
.digit_unit { font-size:28px; padding-left:7px;}
.digit_blod { font-size:17px; color:#666666; letter-spacing:1px; line-height:48px; font-family:"Segoe UI Semibold", Segoe-blod;}
			
@media screen and (max-width: 800px) {
	a.link {  color:#0088cb; font-size:1.3em; line-height:30px; display:inline-block; text-align:center; padding:10px 0 0;}
	
	.date {  margin:15% auto 0;}
	.date li { float:none; text-align:center; margin-left:0%;}
	.date li+li { margin:30px;}
	.digit { font-size: 4em; line-height:1.5; color: #888888;}
	.digit_unit { font-size:0.5em;}
	.digit_blod { font-size:0.2em; color:#666666; letter-spacing:1px; line-height:20px; font-family:"Segoe UI Semibold",Segoe-blod;}
	
	.slogan { font-size:2.2em;}
	.subT_text { font-size:1.3em; }
	
	
}


